.layui-footer {
    text-align: center;
}

.iconfont {
    margin-right: 10px;
}

.layui-icon {
    margin-right: 10px;
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 100%;

}

.layui-body {
    overflow: hidden;
}

.userrow {
    text-align: center;
    height: 60px;
    line-height: 60px;

}

.text-user {
    width: 30px;
    height: 30px;
    background-color: #009688;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    vertical-align: middle;

}